JIRA_URL   = "https://jira.mohaymen.ir"
JIRA_USERNAME= *****
JIRA_PASSWORD= *****

SPLUS_URL  = "https://bui.splus.ir/v1/messages/send"
SPLUS_AUTH_TOKEN =****
    


# --- Postgres ---
POSTGRES_PORT=5432
POSTGRES_DB=notifier_db
POSTGRES_USER=****
POSTGRES_PASSWORD=****


# --- pgAdmin (GUI) ---
PGADMIN_EMAIL=****
PGADMIN_PASSWORD=****
PGADMIN_PORT=8081


# REDIS_PORT=6379
# REDIS_PASSWORD=redis_pw